.section_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 0.9rem;
}

.search {
    width: 19rem;
    height: 2.6rem;
    padding: 1rem;
}

.container_search {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.8rem;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    padding-top: 1.5rem;
}

.container_select {
    width: 10.4rem;
    height: 2.6rem;
    cursor: pointer;
    color: #7c7b7b;
    padding: 0.6rem;
}

option {
    background: #E3ECF9;
    color: #08172bbd
}

@media (max-width: 623px) {
    .container_search {
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 12.4rem;
    }

    .container_select {
        width: 12.4rem;
    }
}

@media(max-width:310px) {

    .search {
        width: 10.4rem;
    }

    .container_select {
        width: 10.4rem;
    }
}