.reporte-container {
    display: flex;
    justify-content: space-between;
    transition: transform .2s ease;
    &:hover {
        transform: scale(1.02)
    }
    padding-bottom: 1rem;
    align-items: center;
    width: 90%;
}

.titulo-reporte {
    color: #08172bbd;
    font-size: 20px;
    padding: 5px;
}

/* Estilos robados del InputSelect porque necesitaba hacerle una modificacion pero está lindo*/
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 220px; 
  font-family: sans-serif, Arial, 'Inter', 'Roboto', 'Segoe UI', 'Helvetica Neue';
}

.input-container label {
  font-size: 0.90rem;
  font-weight: 500;
  color: #6b7280; 
  margin-left: 0.25rem;
}

.input-container input,
.input-container select {
  width: 100%;
  padding: 0.40rem 0.45rem;
  border: 1px solid #d1d5db;
  border-radius: 12px; 
  font-size: 1rem;
  background-color: #fff;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  color: #6b7280;
}

.input-container input:focus,
.input-container select:focus {
  border-color: #1976d2;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.15);
}

.disabled{
  display: none;
}

.error{
  color: red;
  font-size: 14px;
  word-wrap: break-word;
  white-space: normal;
}