.card-container {
  background-color: #e9f1fb00;
  border: 1px solid #59637050;
  border-top: 3px solid rgba(0, 128, 0, 0.292);
  border-radius: 5px;
  color: #08315e;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  flex: 1;
  justify-content: center; 
  animation: animarEntrada .1s linear;
  &:hover{
    background-color: rgba(163, 163, 163, 0.03);
  }
}

.saved-items-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.delete-button {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.509);
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1;
  padding: 0 10px;
  transition: all ease .2s  ;
  &:hover{
    transform: scale(1.03);
  }
}

.container-btns-card{
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #59637050;
  padding: 10px 20px;
  gap: 20px;
}

.card-contact-text{
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.537);
  font-weight: 200;
  font-size: calc(12px + 0.05vw);
}
.fade-out{
  animation: animarSalida .1s linear;
}
@keyframes animarEntrada {
  0%{
    transform: scale(0.5);
    opacity: 0.5;
  }100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animarSalida {
  0%{
    transform: scale(1);
    opacity: 1;   
  }100%{
    transform: scale(0.5);
    opacity: 0.5;
  }
}
