.card-container {
  background-color: #e9f1fb;
  border: 1px solid #59637050;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #08315e;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.saved-items-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.delete-btn {
  background: transparent;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
}

.delete-btn:hover {
  color: darkred;
}

.delete-button {
    border: none;
    outline: none;
}

.delete-button:hover {
  border: 1px solid #59637050;
}
