.error-message{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-loader{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-detalle-persona__container{
  animation: animarEntrada .2s linear;
}

@keyframes animarEntrada {
  0%{
    transform: scale(0.5);
  }100%{
    transform: scale(1);
  }
}