.titleGrupo {
    color: #08172bbd;
    font-size: calc(12px + 0.2vw);
    padding-bottom: 0.7rem;
}

.descriptionGrupo {
    color: #08172bbd;
    font-size: calc(11px + 0.2vw);
    padding-bottom: 0.3rem;
}

.container_data{
    padding: 1.5rem 1.5rem 0 1.5rem !important;
}

.container_icons{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0 1.5rem;
    gap:0.2rem
}

.card_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform .2s ease;
    position: relative;
}

.container_tableIntegrantes{
    padding-top: 1rem;
}

.contraer{
    display: none;
}

@media (max-width: 482px) {
    .container_icons{
        padding-top: 0.5rem;
    }
}


/* Estilos de contendor de loader */

.cotainer-loader-card{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08172b4f;
    backdrop-filter:blur(1px); 
}
.container-estado-eliminacion{
    position: absolute ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}