.title-section__container{
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-section__text{
  color: #08315E;
  font-size: calc(12px + 0.3vw);
}