
.div__main-principal{
  animation: animarMainPrincipal .2s linear;  
  width: calc(80vw);
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body {
  font-family: 'Inter', 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  color: #1f2937; 
}

header{
  width: 20vw;
}
#root{
  display: flex;
}

/* Estilos del borde para todos los elementos */

.box-border{
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 20px;
  overflow: hidden;
}

/* Mediaquery general */
@media (max-width: 1200px) {
  #root{
    flex-direction: column;
  }
  .div__main-principal{
    padding: 1rem;
    min-width: calc(100vw);
  }
}

@keyframes animarMainPrincipal {
  0%{
    transform: scale(0.5);
    opacity: 0.5;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}