main{
  width: 80vw;
  padding: 2rem;
  height: 200vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header{
  width: 20vw;
}
#root{
  display: flex;
}
@media (max-width: 1200px) {
  #root{
    flex-direction: column;
  }
  main{
    width: 100vw;
    padding: 1rem;
  }
}