/* Variables */
:root {
  /* Colores de fondo */
  --bg-color: #08315E;

  /* Colores de las letras */
  --color-white: ffff;
}



/* Formateo de estilos por defecto */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Fuente */
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

ul{
  list-style: none;
}
li{
  padding: 0;
  margin: 0;
}

/* Redefinimos estilos de toastify */
/* Verde suave para éxito */
.Toastify__progress-bar--success {
  background: rgba(37, 107, 37, 0.75) !important;
}

/* Rojo más discreto para error */
.Toastify__progress-bar--error {
  background: #B74545 !important;
}

/* Azul para info */
.Toastify__progress-bar--info {
  background: #3498db !important;
}
/* Ícono de éxito */
.Toastify__toast--success .Toastify__icon {
  color: rgba(170, 220, 20, 0.75)  !important; /* verde */
}

/* Ícono de error */
.Toastify__toast--error .Toastify__icon {
  color: #B74545 !important; /* rojo */
}